@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



html {
  font-size: 10px;
}

html[data-theme="dark"] {
  --bgColor1: #202c36;
  --color1: #fff;
  --bgBoxColor1: #808080;
}

html[data-theme="light"] {
  --bgColor1: #eee;
  --color1: #000;
  --bgBoxColor1: #fff;
}

body {
  background: var(--bgColor1);
  user-select: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header component style's here */

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header a {
  font-size: 3.2rem;
  cursor: pointer;
  color: var(--color1);
}

.header__mode {
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: 400;
  cursor: pointer;
}

.main__countries-list {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* country components styles here*/

.country-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.8rem;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 20px;
  padding: 10px 5px;
  background-color: var(--bgBoxColor1);
}

.country-item__btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-city,
.show-cities {
  width: 120px;
  padding: 5px 0;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

/* addCity pages class here */

.addCity__form {
  height: 50vh;
  background-color: var(--bgBoxColor1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  border-radius: 10px;
}

.form__sucsess {
  font-size: 3rem;
  transform: translateY(-150px);
  transform: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.form__sucsess-open {
  transform: translateY(5px) !important;
  visibility: visible !important;
  opacity: 1 !important;
  background-color: #000;
  font-size: 3rem;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  margin: 0 auto;
}

.form__label {
  font-size: 2.2rem;
  color: var(--color1);
}

.form__addBtn {
  width: 120px;
  padding: 5px 0;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.form__select {
  padding: 3px 0;
  background-color: var(--bgColor1);
  color: var(--color1);
}

.form__inputText {
  background-color: var(--bgColor1);
  color: var(--color1);
  padding: 3px 0;
}

.form__inputText::placeholder {
  color: #fff;
  opacity: 0.75;
}

/* showCities pages styles here */

.showCities {
  background: var(--bgColor1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 93%;
  margin: 0 auto;
}

.showCities__name {
  font-size: 2.8rem;
  background: var(--bgColor1);
  color: var(--color1);
  text-align: center;
}

.showCities__items {
  padding: 15px 0;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgBoxColor1);
}

.showCities__p {
  font-size: 2.4rem;
  color: var(--color1);
  text-align: center;

}

.showCities__btn-delete,
.showCities__btn-edit {
  width: 120px;
  padding: 5px 0;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.showCities__btns {
  display: flex;
  gap: 10px;
}


/* !!! */
button:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: var(--color1);
}

/* responsive  style's start here */

@media (min-width: 1200px) and (max-width: 1450px) {
 
  .container {
    width: 1150px;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
 
  .container {
    width: 1030px;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  html {
    font-size: 9px;
  }
  
  .container {
    width: 950px;
  }
  .country-item {
    flex-direction: column;
  }
  .country-item__btns {
    gap: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
 
  html{
    font-size: 9px;
  }
  
  .container {
    width: 740px;
  }
  
  .country-item {
    flex-direction: column;
  }
  .country-item__btns {
    gap: 0;
  }
  .showCities__items {
    flex-direction: column;
  }
  .addCity__form {
    flex-direction: column;
  }
  .form__select {
    width: 300px;
  }
  .form__inputText {
    width: 300px;
  }

  .form__addBtn {
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  html{
    font-size: 8px;
  }
  

  .container {
    width: 550px;
  }
  .main__countries-list {
    flex-direction: column;
  }
  .country-item {
    width: 100%;
  }
  .showCities__items {
    flex-direction: column;
  }
  .addCity__form {
    flex-direction: column;
  }
  .form__select {
    width: 300px;
  }
  .form__inputText {
    width: 300px;
  }

  .form__addBtn {
    width: 300px;
  }
}

@media (max-width: 576px) {
  html{
    font-size: 7px;
  }
 
  .container {
    width: 400px;
  }
  .main__countries-list {
    flex-direction: column;
  }
  .country-item {
    width: 100%;
  }
  .showCities__items {
    flex-direction: column;
  }
  .addCity__form {
    flex-direction: column;
  }
  .form__select {
    width: 200px;
  }
  .form__inputText {
    width: 200px;
  }

  .form__addBtn {
    width: 200px;
  }
}
